.center {
    text-align: center;
}
h1{
    outline-width: 5px;
    outline-style:solid;
    outline-color:#555;
}

h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
    font-family: pythagoras;
}

.Topics{
  padding-bottom: 100px;
}

.paragraph_text_style{
    font-family: pythagoras;
    font-size: large;
}

.max-width-100{
    max-width: 75%;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow:hidden; /* Overflow due to float */
  }
  
.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
    transform: scale(1.1);
  }
  
